<div class="actionHeader">
  <div class="actions">
    <button
      class="button-add-row"
      mat-button
      (click)=" searchActive = false; addPlayer(); errorMessage = '';"
    >
      Adauga Jucator
    </button>
    <button
      class="button-add-row"
      mat-button
      (click)="searchActive = false;getActivePlayers(); errorMessage = '' "
    >
      Jucatori activi
    </button>
    <button
      class="button-add-row"
      mat-button
      (click)=" searchActive = false; getPlayers(); errorMessage = ''"
    >
      Toti jucatorii
    </button>
  </div>
  <div class="search-area">
    <mat-form-field class="example-form-field">
      <mat-label>Nume</mat-label>
      <input matInput type="text" [(ngModel)]="nume" (input)="allClear()" />
      <button
        *ngIf="nume"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="nume = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Prenume</mat-label>
      <input matInput type="text" [(ngModel)]="prenume" (input)="allClear()" />
      <button
        *ngIf="prenume"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="prenume = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Alege Echipa</mat-label>
      <mat-select [(ngModel)]="idEchipaSearch" (selectionChange)="allClear()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let team of teams" [value]="team.ID_ECHIPA">
          {{ team.DENUMIRE }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      class="button-add-row"
      mat-button
      (click)="deleteFilters(); errorMessage = ''; searchActive = true"
    >
      Sterge Filtre
    </button>
  </div>
</div>

<div class="error" *ngIf="errorMessage != ''">
  <mat-error class="errorTextSize">{{ errorMessage }}</mat-error>
</div>
<div class="success" *ngIf="successMessage != ''">
  <span>{{ successMessage }}</span>
</div>
<div class="mat-elevation-z6 table">
  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="table-container">
      <table
        mat-table
        [dataSource]="dataSource"
        matSortActive="STATUS"
        matSort
        matSortDisableClear
        matSortDirection="desc"
      >
        <ng-container
          [matColumnDef]="col.key"
          *ngFor="let col of columnsSchema"
        >
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            {{ col.label }}
          </th>
          <td mat-cell *matCellDef="let element">
            <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                <button
                  mat-button
                  *ngIf="element.ACTIV"
                  (click)="element.isEdit = !element.isEdit"
                >
                  Editeaza
                </button>
                <button
                class="activate-button"
                  mat-button
                  *ngIf="!element.ACTIV"
                  (click)="restorePlayer(element.ID_JUCATOR)"
                >
                  Activeaza
                </button>
                <button
                  *ngIf="element.ACTIV"
                  mat-button
                  class="button-remove"
                  (click)="removePlayer(element.ID_JUCATOR)"
                >
                  Dezactiveaza
                </button>
              </div>
              <span *ngIf="col.key == 'DENUMIRE_ECHIPA'">
                {{getTeamName(element.ID_ECHIPA)}}
              </span>
              <span *ngSwitchDefault>
                {{ element[col.key] }}
              </span>
            </div>
            <div [ngSwitch]="col.key" *ngIf="element.isEdit">
              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                <button
                  mat-button
                  (click)="
                    element.isEdit = !element.isEdit;
                    updatePlayer(
                      element.ID_JUCATOR,
                      element.NUME,
                      element.PRENUME,
                      element.DATA_NASTERE
                    )
                  "
                >
                  Actualizeaza
                </button>
                <button
                  class="delete-remove"
                  mat-button
                  (click)="element.isEdit = !element.isEdit"
                >
                  Inchide
                </button>
              </div>
              <mat-form-field
                class="team-select"
                *ngSwitchCase="'DENUMIRE_ECHIPA'"
              >
                <mat-label>Alege Echipa</mat-label>
                <mat-select [(ngModel)]="idEchipa">
                  <mat-option
                    *ngFor="let team of teams"
                    [value]="team.ID_ECHIPA"
                  >
                    {{ team.DENUMIRE }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="form-input" *ngSwitchCase="'NUME'">
                <input
                  [type]="col.type"
                  matInput
                  [(ngModel)]="element[col.key]"
                />
              </mat-form-field>
              <mat-form-field class="form-input" *ngSwitchCase="'PRENUME'">
                <input
                  [type]="col.type"
                  matInput
                  [(ngModel)]="element[col.key]"
                />
              </mat-form-field>

              <mat-form-field *ngSwitchCase="'DATA_NASTERE'">
                <mat-label>Alege o data</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  name="date"
                  [(ngModel)]="element[col.key]"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker format="Short"> </mat-datepicker>
              </mat-form-field>
              <span *ngSwitchDefault>
                {{ element[col.key] }}
              </span>
            </div>
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            Niciun element
          </td>
        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of players"
    ></mat-paginator>
  </div>
</div>
