.table {
  width: 93%;
  margin: auto;
  position: relative;
}

.table-container {
  max-height: 322px;
  overflow: auto;
}

table {
  width: 93%;
  margin: auto;
  margin-top: 25px;
}
.btn-edit {
  text-align: right;
}
h2 {
  text-align: center;
  padding-top: 20px;
}

.table-header {
  width: 93%;
  margin: auto;
  text-align: right;
  margin-bottom: 10px;
}

.button-add-row {
  background: #1b9e1b;
  color: #ffffff;
  padding: 2px 15px;
}

.button-remove-rows {
  background: red;
  color: #ffffff;
  margin-right: 5px;
}

.button-remove {
  color: red;
}

::ng-deep .mat-form-field-infix {
  width: 100% !important;
}

.form-input {
  padding-right: 5px;
}

.actionHeader {
  display: grid;
  width: 93%;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  align-items: center;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-select {
  min-width: 100px;
  width: 90%;
}

.error {
  width: 92%;
  margin: auto;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 10px;
}
.success {
  width: 92%;
  margin: auto;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 10px;
  color:#1b9e1b;
  font-weight: bold;

}
.search-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.activate-button{
  color: #1b9e1b;
}