body, .table{
    width:100%;
}
.menu{
    display: flex;
    position:absolute;
    left:10px;
    flex-direction:column;
    gap: 10px;
    padding:10px 20px;
    background-color: rgba(130, 127, 127, 0.533);
    border-radius: 10px;
    width: 10%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    margin-bottom: 40px;
}

.button{
    background: #1b9e1b;
    color: #ffffff;
}
.title{
    font-size:20px;
    font-family: Roboto;
    display:flex;
    align-items: center;
    font-weight: 500;
    color:white;
    margin-bottom: 40px;
    margin-top:40px;
}
.layout{
    display:grid;
    grid-template-columns:3fr 20fr;
}
.content{
    margin-top: 50px;
}