<mat-sidenav-container class="container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" >
    <div class="menuOptions">
      <button class="button" mat-button (click)="goToTeams()">Echipe</button>
      <button class="button" mat-button (click)="goToPlayers()">Jucatori</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar >
      <mat-toolbar-row class="options">
        <mat-icon aria-hidden="false" (click)="sidenav.toggle()">menu</mat-icon>
        <span>Management Echipe si Jucatori</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>