<div class="form">
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Nume</mat-label>
    <input matInput type="text" [(ngModel)]="nume" />
    <button
      *ngIf="nume"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="nume = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Prenume</mat-label>
    <input matInput type="text" [(ngModel)]="prenume" />
    <button
      *ngIf="prenume"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="prenume = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Alege o data</mat-label>
    <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="dataNasterii"/>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker format="Short"  >
    </mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Alege Echipa</mat-label>
    <mat-select [(ngModel)]="idEchipa">
      <mat-option *ngFor="let team of teams " [value]="team.ID_ECHIPA">
        {{ team.DENUMIRE }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Inchide</button>
  <button class="add-button" [disabled]="!nume||!prenume || !dataNasterii || !idEchipa" mat-button (click)="addTeam()">Adauga jucator</button>
</div>
