<div class="actionHeader">
  <button
    class="button-add-row"
    mat-button
    (click)="addTeam(); errorMessage = ''"
  >
    Adauga Echipa
  </button>
  <button
    class="button-add-row"
    mat-button
    (click)="getActiveTeams(); errorMessage = ''"
  >
    Echipe active
  </button>
  <button
    class="button-add-row"
    mat-button
    (click)="getTeams(); errorMessage = ''"
  >
    Toate echipele
  </button>
  <mat-form-field class="searchBar" appearance="standard">
    <mat-label>Cauta...</mat-label>
    <input matInput (keyup)="searchTeam($event)" #input />
  </mat-form-field>
</div>
<div class="error" *ngIf="errorMessage != ''">
  <mat-error class="errorTextSize">{{ errorMessage }}</mat-error>
</div>
<div class="success" *ngIf="successMessage != ''">
  <span>{{ successMessage }}</span>
</div>
<div class="mat-elevation-z6 table">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="table-container">
    <mat-table
      [dataSource]="dataSource"
      matSortActive="STATUS"
      matSort
      matSortDisableClear
      matSortDirection="desc"
    >
      <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          {{ col.label }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div [ngSwitch]="col.key" *ngIf="!element.isEdit">
            <div class="btn-edit" *ngSwitchCase="'isEdit'">
              <button
                mat-button
                *ngIf="element.ACTIV"
                (click)="element.isEdit = !element.isEdit"
              >
                Editeaza
              </button>
              <button
                class="activate-button"
                mat-button
                *ngIf="!element.ACTIV"
                (click)="restoreTeam(element.ID_ECHIPA)"
              >
                Activeaza
              </button>
              <button
                *ngIf="element.ACTIV"
                mat-button
                class="button-remove"
                (click)="removeTeam(element.ID_ECHIPA)"
              >
                Dezactiveaza
              </button>
            </div>
            <span *ngSwitchCase="'DATA_CREARE'">
              {{ getDate(element.DATA_CREARE) }}
            </span>
            <span *ngSwitchCase="'DATA_MODIFICARE'">
              {{ getDate(element.DATA_MODIFICARE) }}
            </span>
            <span *ngSwitchDefault>
              {{ element[col.key] }}
            </span>
          </div>
          <div class="editItem" [ngSwitch]="col.key" *ngIf="element.isEdit">
            <div class="btn-edit" *ngSwitchCase="'isEdit'">
              <button
                mat-button
                [disabled]="!element.DENUMIRE"
                (click)="
                  element.isEdit = !element.isEdit;
                  updateTeam(element.ID_ECHIPA, element.DENUMIRE)
                "
              >
                Actualizeaza
              </button>
              <button
                mat-button
                [disabled]="!element.DENUMIRE"
                (click)="element.isEdit = !element.isEdit"
              >
                Inapoi
              </button>
            </div>
            <mat-form-field class="form-input" *ngSwitchCase="'DENUMIRE'">
              <input
                [type]="col.type"
                matInput
                [(ngModel)]="element[col.key]"
                #denumireF="ngModel"
                required
              />
              <mat-error
                *ngIf="denumireF.errors?.['required'] && denumireF.touched"
                class="alert alert-danger"
              >
                Numele echipei este obligatoriu
              </mat-error>
            </mat-form-field>
            <span *ngSwitchDefault>
              {{ element[col.key] }}
            </span>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row class="mat-row" *matNoDataRow>
        <mat-cell class="mat-cell" [attr.colspan]="displayedColumns.length">
          Niciun element
        </mat-cell>
      </mat-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of teams"
  ></mat-paginator>
</div>
